<!-- Work -->
<article id="work" class="panel">
    <header>
        <h2>Mi Idania</h2>
    </header>
    <p>
       Mi amor gracias por estar conmigo todo este tiempo, estar contigo ha sido lo mejor que me ha pasado, ya es un año de haberte conocido y doy gracias a Dios por ello, TE AMO MI IDANIA...
    </p>
    <section>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic04.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic05.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic06.jpg" alt=""></a>
            </div>
            
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic07.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic08.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic09.jpg" alt=""></a>
            </div>
            <!--<div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
            </div>-->
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic01.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/pic03.jpg" alt=""></a>
            </div>
        </div>
    </section>
</article>