<!-- Work -->
<article id="work" class="panel">
    <header>
        <h2>I&R</h2>
    </header>
    <p>
       Un año y muchos, bueno no, todos los años mi bebe...!
    </p>
    <section>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/ANI1.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/ANI2.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/ANI3.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/ANI4.jpg" alt=""></a>
            </div>
            
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/ANI4_1.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/R.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="assets/images/RV.jpg" alt=""></a>
            </div>
           
        </div>
    </section>
</article>