<div id="main">
  <!-- Me -->
  <article id="home" class="panel intro">
    <header>
      <h1>Idania Fuertes Miranda</h1>
      <p>Mi bebé hermosa, FELIZ ANIVERSARIO...</p>
      <p>12 meses == 1 año</p>
      <youtube-player
      videoId="gMnV6rBhKFI"
      suggestedQuality="highres"
      [height]="250"
      [width]="500"
      [startSeconds]="4"
      [endSeconds]="8"
    >
    </youtube-player>
    </header>
    <a routerLink="/mi_idania" class="jumplink pic">
      <span class="arrow icon solid fa-chevron-right"
        ><span>Te AMO Idania</span></span
      >
      <img src="assets/images/me.jpg" alt="" />
    </a>
  </article>
</div>
<div id="main">
 
</div>
